﻿<div id="accont-login-view">

    <h1>Login</h1>

    <form ng-submit="vm.login()" class="form-inline">
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="username" ng-model="vm.username" />
        </div>
        <div class="form-group">
            <label for="inputPasword">Password</label>
            <input type="password" class="form-control" id="inputPasword" placeholder="password" ng-model="vm.password" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Login</button>
        </div>
    </form>

</div>