﻿<div id="menu-view" ng-controller="menuCtrl as vm">



    <ul class="menu">
        <li>
            <a href="#/main">Main</a>
        </li>
        <li>
            <a href="#/things">Things</a>
        </li>
        <li ng-hide="vm.userInfo">
            <a href="#/login">Login</a>
            <a href="#/register">Register</a>
        </li>
        <li ng-show="vm.userInfo">
            Hello {{vm.userInfo.email}}
            <a href="#/logout" ng-click="vm.logout()"> Logout</a>
        </li>
    </ul>

</div>

