﻿<div id="main-view">

    <h1>Main</h1>

    <form ng-submit="vm.addPerson()">
        <input type="text" ng-model="vm.newPersonName" />
        <button type="submit">Add person</button>
    </form>

    <ul>
        <li ng-repeat="person in vm.people">
            <span>{{person.name}}</span>
            <span>
                <button type="button" ng-click="vm.deletePerson(person)">
                    Delete
                </button>
            </span>
        </li>
    </ul>

    <br />
    <button type="button" ng-click="vm.authorizedApiCall()">
        Authorized call
    </button>
</div>