﻿<div id="things-view">
    <h1>Things</h1>
    <div>

        <form ng-submit="vm.createThing()"> 
            <input type="text" ng-model="vm.newThingName" />
            <button type="submit">
                Add thing
            </button>
        </form>

        <table class="table table-striped table-bordered table-hover">
            <tr ng-repeat="thing in vm.things">
                <td>{{thing.name}} </td>
                <td>
                    <button type="button" ng-click="vm.deleteThing(thing.id)">
                        Delete
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>